<!-- New Card template -->

  <h2>Add new ticket</h2>
<form name="newTicketForm" novalidate class="simple-form" ng-submit="addNewCard()">
  Name: <input type="text" ng-model="ticket.title" maxlength="35"/><br />

  Column: <select ng-init="ticket.column = kanbanBoard.columns[0]" ng-model="ticket.column" ng-options="column.name for column in kanbanBoard.columns" ></select><br>

  Description: <textarea ng-model="ticket.description" class="cardInputs form-control" maxlength="150"></textarea><br>

  Type: <select ng-init="ticket.type = kanbanBoard.columns[0]" ng-model="ticket.type" ng-options="column.name for column in kanbanBoard.columns" ></select><br>

  Category: <select ng-init="ticket.category = kanbanBoard.columns[0]" ng-model="ticket.category" ng-options="column.name for column in kanbanBoard.columns" ></select><br>

  <button ng-click="reset()">RESET</button>
  <button ng-click="update(user)">SAVE</button>
  <button type="button" class="btn btn-default" ng-click="closeThisDialog('')">Close</button>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
<!-- <pre>ticket = {{ticket | json}}</pre>
<pre>master = {{master | json}}</pre>

  <!--
<form ng-submit="addNewCard()" name="newCardForm">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h4 class="modal-title" ng-model="columnName">Add New Card in '{{columnName}}'</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label" for="newCardTitle">Card title</label>

            <div>
                <input type="text" id="newCardTitle" placeholder="Title on a card" ng-model="title" required
                       focus-me class="cardInputs form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="newCardDetails">More details
                <small>(optional)</small>
            </label>

            <div>
                <textarea id="newCardDetails" ng-model="details" class="cardInputs form-control" rows="7">
                </textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form> -->
