<!DOCTYPE html>
<html lang="en" ng-app="phApp">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <title>ProjectHub</title>
    <link href="/semantic/css/semantic.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href='lib/fullcalendar/css/fullcalendar.css' rel='stylesheet' />
    <link href='lib/fullcalendar/css/fullcalendar.print.css' rel='stylesheet' media='print' />
    <link href="lib/jquery/datetimepicker/jquery.datetimepicker.css" rel="stylesheet">

</head>
<body ng-controller="ChatCtrl">

  <!-- Sidebar -->
  <aside class="sidenav">
    <a href="#/dashboard"><section class="tooltip" title="Dashboard"><i class="dashboard icon"></i></section></a>
    <a href="#/projects"><section class="tooltip" title="Projects"><i class="reorder icon"></i></section></a>
    <a href="#/tickets"><section class="tooltip" title="Tickets"><i class="checkmark icon"></i></section></a>
    <a href="#/calendar"><section class="tooltip" title="Calendar"><i class="calendar icon"></i></section></a>
    <a href="#/settings"><section class="tooltip" title="Settings"><i class="setting icon"></i></section></a>
  </aside>
  <a href="#/dashboard"><div class="logo"><i class="bolt icon"></i><b>Project</b>Hub</div></a>

  <!-- Header -->
  <div class="head_h1"><h1 ui-view="pageTitle"></h1></div>
  <div ng-controller="MainCtrl" ng-init="getUsername()">
    <header class="head">
      <ul>
        <li>{{username}}</li>
        <li><i class="sign out icon" ng-click="logout()"></i></li>
        <li id="toogle_chat" class="last"><i class="chat outline icon"></i></li>
      </ul>
    </header>
  </div>

  <!-- TESTING Privatechat -->
  <div class="privatchat" ng-init="init()">
    <ul>
      <li ng-click="openPrivateChat(user.username)" ng-repeat="user in users">
        <span ng-class="(user.online==true) ? 'green' : 'red'" class="ui label">
            {{user.firstname | limitTo: 1}}{{user.lastname | limitTo: 1}}
        </span>
        {{user.firstname}} {{user.lastname}}
      </li>
    </ul>
  </div>

  <!--div id="privat-chat-container"-->
    <div ng-repeat="tab in chatTabs" class="prvt-chat chat-tab" id="prvt-chat-{{tab.id}}" ng-class="{ 'chat-first': $index == 0 , 'chat-sec': $index == 1, 'chat-third': $index == 2 }">
      <div class="chat-header" ng-click="selectTab($event)">
        <div class="column indicator"><i class="angle up large icon"></i></div>
        <div class="username">{{tab.username}}</div>
      </div>
      <div class="column close" ng-click="closeTab(tab.username)"><i class="remove icon right floated"></i></div>
      <div class="chat-content">
        <ul>
          <li ng-repeat="msg in tab.msgs">
            {{msg.sendername}}: {{msg.message}}
          </li>
        </ul>
        <hr class="chat-hr">
        <form name="frm-private-chat" class="frm-private-chat" ng-submit="sendPrvtMsg(tab.username)">
          <input class="prvt-chat-submit" type="text" placeholder="Enter message" id="frm-msg-{{tab.username}}">
          <button class="prvt-chat-submit-btn" type="submit"><i class="play icon"></i></button>
        </form>
      </div>
    </div>

  <!-- View -->
  <main class="view" ui-view="mainView"></main>

  <!---------- Scripts ----------->
  <!-- Socket IO -->
  <script src="/scripts/dependencies/sails.io.js"></script>

  <!-- Libraries -->
  <script src="/lib/jquery/jquery-1.11.1.min.js"></script>
  <script src="/lib/jquery/jquery-ui.min.js"></script>
  <script src="semantic/javascript/semantic.js"></script>
  <script src="/lib/angular/angular.js"></script>
  <script src="/lib/angular-ui-router/angular-ui-router.js"></script>
  <script src="/lib/angular-sails/angular-sails.js"></script>

  <!-- jquery extensions -->
  <script src='lib/fullcalendar/moment.min.js'></script>
  <script src='lib/fullcalendar/fullcalendar.js'></script>
  <script src='lib/jquery/datetimepicker/jquery.datetimepicker.js'></script>

  <!-- Controller -->
  <script src="/scripts/app.js"></script>
  <script src="/scripts/controllers/chat.js"></script>
  <script src="/scripts/controllers/dashboard.js"></script>
  <script src="/scripts/controllers/project.js"></script>
  <script src="/scripts/controllers/projects.js"></script>
  <script src="/scripts/controllers/backlog.js"></script>
  <script src="/scripts/controllers/kanban.js"></script>
  <script src="/scripts/controllers/tickets.js"></script>
  <script src="/scripts/controllers/calendar.js"></script>
  <script src="/scripts/controllers/files.js"></script>
  <script src="/scripts/controllers/poker.js"></script>
  <script src="/scripts/controllers/settings.js"></script>
  <script src="/scripts/controllers/main.js"></script>

  <!-- Other Scripts -->
  <script src="/scripts/script.js"></script>
</body>
</html>
