<h1>Sign up</h1>
<hr />
<form method="post" action="" name="frmSignUp" ng-submit="signup(frmSignUp.$valid)" novalidate>
    <div class="inputmsg">
        <input id="firstname" name="firstname" type="text" placeholder="Firstname" ng-model="user.firstname" ng-minlength="3" ng-maxlength="32" required>
        <br />
        <span ng-show="frmSignUp.firstname.$error.minlength"><i class="info icon"></i> Firstname is too short.</span>
        <span ng-show="frmSignUp.firstname.$error.maxlength"><i class="info icon"></i> Firstname is too long.</span>
        <span ng-show="frmSignUp.firstname.$error.required && frmSignUp.firstname.$dirty"><i class="info icon"></i> Firstname is required.</span>
    </div>
    <div class="inputmsg">
        <input id="lastname" name="lastname" type="text" placeholder="Lastname" ng-model="user.lastname" ng-minlength="3" ng-maxlength="32" required>
        <br />
        <span ng-show="frmSignUp.lastname.$error.minlength"><i class="info icon"></i> Lastname is too short.</span>
        <span ng-show="frmSignUp.lastname.$error.maxlength"><i class="info icon"></i> Lastname is too long.</span>
        <span ng-show="frmSignUp.lastname.$error.required && frmSignUp.lastname.$dirty"><i class="info icon"></i> Lastname is required.</span>
    </div>
    <div class="inputmsg">
        <input id="email" name="email" type="email" placeholder="Email Address" ng-model="user.email" required>
        <br />
        <span ng-show="frmSignUp.email.$invalid && frmSignUp.email.$dirty"><i class="info icon"></i> Enter a valid email.</span>
        <span ng-show="frmSignUp.email.$error.required && frmSignUp.email.$dirty"><i class="info icon"></i> Email is required.</span>
    </div>
    <div class="inputmsg">
        <input id="username" name="username" type="text" placeholder="Username" ng-model="user.username" ng-minlength="3" ng-maxlength="32" required>
        <br />
        <span ng-show="frmSignUp.username.$error.minlength"><i class="info icon"></i> Lastname is too short.</span>
        <span ng-show="frmSignUp.username.$error.maxlength"><i class="info icon"></i> Lastname is too long.</span>
        <span ng-show="frmSignUp.username.$error.required && frmSignUp.username.$dirty"><i class="info icon"></i> Username is required.</span>
    </div>
    <div class="inputmsg">
        <input id="password" name="password" type="password" placeholder="Password" ng-model="user.password" ng-minlength="5" required>
        <br />
        <span ng-show="frmSignUp.password.$error.minlength"><i class="info icon"></i> Password is too short.</span>
        <span ng-show="frmSignUp.password.$error.required && frmSignUp.password.$dirty""><i class="info icon"></i> Password is required.</span>
    </div>
    <div class="inputmsg">
        <input id="password2" name="password2" type="password" placeholder="Password" ng-model="user.password2" ng-minlength="5" required>
        <br />
        <span ng-show="frmSignUp.password2.$error.minlength"><i class="info icon"></i> Password is too short.</span>
        <span ng-show="frmSignUp.password2.$error.required && frmSignUp.password2.$dirty""><i class="info icon"></i> Password is required.</span>
    </div>
    <button type="submit" ng-disabled="frmSignUp.$invalid">SIGN UP</button>
</form>