<h1>Sign up</h1>
<hr />
<form method="post" action="">
    <p><input id="firstname" type="text" placeholder="Firstname"></p>
    <p><input class="space" id="lastname" type="text" placeholder="Lastname"></p>
    <p><input class="space" id="email" type="email" placeholder="Email Address"></p>
    <p><input class="space" id="username" type="text" placeholder="Usernanme"></p>
    <p><input class="space" id="password" type="password" placeholder="Password"></p>
    <p><input class="space" id="password2" type="password" placeholder="Confirm Password"></p>
    <button type="submit">SIGN UP</button>
</form>
