<h2>Backlog / <a class="blue" ui-sref="project.kanban">Board</a></h2>
<div class="right"> <a ng-click="showTicket()" id="addNewTicket" class="btnBlue"><i class="browser icon"></i>Add a new ticket</a></div>
<div id="addTicket" class="wrapper addTicket">
  <div class="wrapper_header">Add a new ticket</div>
  <div class="wrapper_inner">
    <form method="post" action="" name="frmAddTicket" ng-submit="addTicket()" novalidate>
      <input class="stdBorder" type="text" placeholder="Add a title" id="ticketTitle" name="ticketTitle" ng-model="ticketTitle" ng-minlength="3" ng-maxlength="32" required />
      <input class="stdBorder" type="text" placeholder="Add description" id="ticketDescription" name="ticketDescription" ng-model="ticketDescription" ng-minlength="3" ng-maxlength="100" required />

      <span class="textRight" ng-show="frmAddTicket.ticketDescription.$error.minlength"><i class="info icon"></i> Description is too short.</span>
      <span class="textRight" ng-show="frmAddTicket.ticketDescription.$error.maxlength"><i class="info icon"></i> Description is too long.</span>
      <span class="textRight" ng-show="frmAddTicket.ticketDescription.$error.required && frmAddTicket.ticketDescription.$dirty"><i class="info icon"></i> Description is required.</span>

      <span class="textRight" ng-show="frmAddTicket.ticketTitle.$error.minlength"><i class="info icon"></i> Ttitle is too short.</span>
      <span class="textRight" ng-show="frmAddTicket.ticketTitle.$error.maxlength"><i class="info icon"></i> Title is too long.</span>
      <span class="textRight" ng-show="frmAddTicket.ticketTitle.$error.required && frmAddTicket.ticketTitle.$dirty"><i class="info icon"></i> Title is required.</span>
      <button class="blue" type="submit" ng-disabled="frmAddTicket.$invalid"><i class="save icon"></i> Save Ticket</button>
    </form>
  </div>
</div>

<div class="wrapper" >
  <table class="list" ng-init="getTickets()">
    <tr>
      <th>Ticket ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Service Classes</th>
      <th>Categorie</th>
    </tr>
    <tr ng-repeat="ticket in tickets">
      <td>{{ticket.ticketid}}</td>
      <td>{{ticket.title}}</td>
      <td>{{ticket.description}}</td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>

