<div class="container">
  <div class="jumbo" ng-init="count()">
    <div class="block blue">Projects<p>{{countProject}}</p><span>Count all projects</span></div>
    <div class="block teal">Tickets<p>{{countTickets}}</p><span>Count all tickets from all projects</span></div>
    <div class="block red">Members<p>{{countMembers}}</p><span>Count all members</span></div>
    <div class="block block2 purple">Events<p>{{countEvents}}</p><span>Count all events from all projects</span></div>
  </div>
</div>
