<div class="col-left">
  <div class="wrapper_header">
    Overview
  </div>
  <div  class="estimate">
    <ul>
      <li>
        <div class="flipside">
          <div class="cardUser">
            Tom
          </div>
        </div>
      </li>
      <li>
        <div class="flipside">
          <div class="cardUser">
            Chris
          </div>
        </div>
      </li>
      <li>
        <div class="flipside">
          <div class="cardUser">
            Victor
          </div>
        </div>
      </li>
      <li>
        <div class="flipside">
          <div class="cardUser">
            Victor
          </div>
        </div>
      </li>
      <li>
        <div class="flipside">
          <div class="cardUser">
            Victor
          </div>
        </div>
      </li>
      <li>
        <div class="flipside">
          <div class="cardUser">
            Victor
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="wrapper_header">
    Choose your estimate
  </div>
  <div class="cards">
    <ul>
      <li>
        <div class="card">
          <div class="cardNumber">
            0
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <div class="cardNumber">
            1/2
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <div class="cardNumber">
            1
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <div class="cardNumber">
            2
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <div class="cardNumber">
            3
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <div class="cardNumber">
            5
          </div>
        </div>
      </li>
      <br />
      <li>
        <div class="card">
          <div class="cardNumber">
            8
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <div class="cardNumber">
            13
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <div class="cardNumber">
            20
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <div class="cardNumber">
            40
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <div class="cardNumber">
            100
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <div class="cardNumber">
            ?
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
