<div class="groupchat_header"><i class="chat icon"></i>Group Chat</div>
<div class="groupchat">
  <ul id="groupchat_ul">
    <li ng-repeat="msg in msgs">
      <span style="font-weight: 600;">{{msg.sendername}}</span> ({{msg.createdAt | date : 'HH:mm:ss'}}): {{msg.message}}
    </li>
  </ul>
  <hr class="chat" />
  <form name="frmGroupChat" ng-submit="sendMsg()">
    <input id="grpChatSubmit" type="text" placeholder="Enter message" ng-model="msg.message">
    <button id="grpChatSubmitBtn" type="submit"><i class="play icon"></i></button>
  </form>
</div>
