<div class="groupchat_header"><i class="chat icon"></i>Group Chat</div>
<div class="groupchat">
  <ul>
    <li ng-repeat="msg in msgs">
      {{msg.sendername}}: {{msg.message}}
    </li>
  </ul>
  <hr class="chat" />
  <form name="frmGroupChat" ng-submit="sendMsg()">
    <input id="grpChatSubmit" type="text" placeholder="Enter message" ng-model="msg.message">
    <button id="grpChatSubmitBtn" type="submit"><i class="play icon"></i></button>
    <!-- <input class="ui button" id="grpChatSubmitBtn" type="submit" value="Send"> -->
  </form>
</div>
