<div class="container">
  <div class="wrapper">
    <div class="wrapper_inner">
      <form name="frmCreateProject" ng-submit="createProject()" novalidate>
        <i class="plus icon"></i>
        <input class="white" type="text" placeholder="Add a new project" id="projectName" name="projectName" ng-model="projectName" ng-minlength="3" ng-maxlength="32" required />
        <span class="textRight" ng-show="frmCreateProject.project.$error.minlength"><i class="info icon"></i> Projectname is too short.</span>
        <span class="textRight" ng-show="frmCreateProject.project.$error.maxlength"><i class="info icon"></i> Projectname is too long.</span>
        <span class="textRight" ng-show="frmCreateProject.project.$error.required && frmSignIn.project.$dirty"><i class="info icon"></i> Projectname is required.</span>
      </form>
    </div>
  </div>

  <div class="containerContent">
    Overview
    <span class="textRight">
      <input class="standard" type="text" ng-model="search" placeholder="Search" />
    </span>
  </div>

  <div class="wrapper">
    <table class="list" ng-init="getProjects()">
      <tr ng-repeat="project in projects | filter:search">
        <td>{{project.name}}</td>
        <td class="btn"><a href="#/project/{{project.id}}" class="btnBlue"><i class="open folder icon"></i> Open Project</a> </td>
      </tr>
    </table>
  </div>
  <br>
</div>
