<div class="container">
  <div class="subhead">
    <ul>
      <li><a ui-sref="project.start">Start</a></li>
      <li><a ui-sref="project.kanban">Kanban</a></li>
      <li>Planning Poker</li>
      <li>Files</li>
    </ul>
  </div>

  <div class="groupchat_header"><i class="chat icon"></i>Group Chat</div>
  <div class="groupchat">
    <ul>
      <li>Project Head added Tom Schalbar to this conversation</li>
      <li>Project Head added Victor Stabrawa to this conversation</li>
    </ul>
  </div>

  <div class="container">
    <!-- View -->
    <div ui-view="projectView"></div>
  </div>
</div>
