<div class="container">
  <form name="frmUpdateUser" ng-submit="updateUser()">
    <div class="wrapper">
      <div class="wrapper_header">
        General Settings
      </div>
        <table class="list" ng-init="getUser()">
          <tr>
            <td style="width: 30%">Firstname</td>
            <td>
              <span id="firstnameText" class="textSetting">{{user.firstname}}</span>
              <input id="firstnameInput" class="whiteBlue" type="text" value="{{user.firstname}}" ng-model="user.firstname" />
            </td>
            <td class="btn">
              <i id="firstnamePencil" class="pencil icon setFocus" ng-click="showInput('firstnameText','firstnameInput', 'firstnamePencil', 'firstnameRemove')"></i>
              <i id="firstnameRemove" class="remove icon setFocus" ng-click="cancelInput('firstnameText','firstnameInput', 'firstnamePencil', 'firstnameRemove')"></i>
            </td>
          </tr>
          <tr>
            <td>Lastname</td>
            <td>
              <span id="lastnameText" class="textSetting">{{user.lastname}}</span>
              <input id="lastnameInput" class="whiteBlue" type="text" value="{{user.lastname}}" ng-model="user.lastname" />
            </td>
            <td class="btn">
              <i id="lastnamePencil" class="pencil icon setFocus" ng-click="showInput('lastnameText','lastnameInput', 'lastnamePencil', 'lastnameRemove')"></i>
              <i id="lastnameRemove" class="remove icon setFocus" ng-click="cancelInput('lastnameText','lastnameInput', 'lastnamePencil', 'lastnameRemove')"></i>
            </td>
          </tr>
          <tr>
            <td>Email</td>
            <td>
              <span id="emailText" class="textSetting">{{user.email}}</span>
              <input id="emailInput" class="whiteBlue" type="text" value="{{user.email}}" ng-model="email" />
            </td>
            <td class="btn">
              <i id="emailPencil" class="pencil icon setFocus" ng-click="showInput('emailText','emailInput', 'emailPencil', 'emailRemove')"></i>
              <i id="emailRemove" class="remove icon setFocus" ng-click="cancelInput('emailText','emailInput', 'emailPencil', 'emailRemove')"></i>
            </td>
          </tr>
          <tr>
            <td>Password</td>
            <td>
              <span id="passwordText" class="textSetting">* * * * * *</span>
              <input id="passwordInput" class="whiteBlue" type="password" placeholder="Password" name="password" />
            </td>
            <td class="btn">
              <i id="passwordPencil" class="pencil icon setFocus" ng-click="showInput('passwordText','passwordInput', 'passwordPencil', 'passwordRemove')"></i>
              <i id="passwordRemove" class="remove icon setFocus" ng-click="cancelInput('passwordText','passwordInput', 'passwordPencil', 'passwordRemove')"></i>
            </td>
          </tr>
        </table>
    </div>
    <span class="textRight"><button id="send" class="blue" type="submit">Save changes</button></span>
  </form>
</div>
