<div class="container">
  <h2>General Settings</h2>

  <div class="wrapper">
    <table class="list">
      <tr>
        <td>Firstname</td>
        <td></td>
        <td class="btn"><i class="pencil icon"></i></td>
      </tr>
      <tr>
        <td>Lastname</td>
        <td></td>
        <td class="btn"><i class="pencil icon"></i></td>
      </tr>
      <tr>
        <td>Email</td>
        <td></td>
        <td class="btn"><i class="pencil icon"></i></td>
      </tr>
      <tr>
        <td>Password</td>
        <td>* * * * * *</td>
        <td class="btn"><i class="pencil icon"></i></td>
      </tr>
    </table>
  </div>
</div>
