<div class="col-left">
  <h2>Members</h2>
  <div class="wrapper" >
    <div class="wrapper_header">
      Name
      <a class="orderby" ng-click="reverse=false"><i class="angle up icon"></i></a>
      <a class="orderby" ng-click="reverse=true"><i class="angle down icon"></i></a>
      <span class="textRight"><i class="search icon"></i> <input class="standard" type="text" ng-model="search" placeholder="Search" /></span>
    </div>
    <table class="list" ng-init="getMembers(); getUsers()">
      <tr ng-repeat="member in members  | filter:search | orderBy: 'lastname':reverse">
        <td>{{member.firstname}} {{member.lastname}}</td>
      </tr>
    </table>
  </div>
  <div class="wrapper">
    <div class="wrapper_inner">
      <form name="frmCreateProject" ng-submit="addMember()" novalidate>
        <i class="plus icon"></i>
        <input class="white" type="text" placeholder="Add a new member" id="memberName" name="memberName" ng-model="memberName" ng-minlength="3" ng-maxlength="32" required />
      </form>
    </div>
  </div>
</div>
