<div class="groupchat_header"><i class="chat icon"></i>Group Chat</div>
<div class="groupchat">
  <ul>
    <li>Project Head added Tom Schalbar to this conversation</li>
    <li>Project Head added Victor Stabrawa to this conversation</li>
  </ul>
</div>
