<aside class="sidenav">
  <section class="tooltip" title="Projects"><i class="reorder icon"></i></section>
  <section class="tooltip" title="Tickets"><i class="checkmark icon"></i></section>
  <section class="tooltip" title="Calendar"><i class="calendar icon"></i></section>
  <section class="tooltip" title="Files"><i class="open folder icon"></i></section>
  <section class="tooltip" title="Settings"><i class="setting icon"></i></section>
</aside>

/* menu to show when clicking on icon in sidemenu */
<aside class="sidemenu">
  <div class="remove">x</div>
  <header>Project Overview</header>
  <fieldset><i class="search icon"></i><input type="text" placeholder="Filter Project"></fieldset>
  <ul>
    <li><i class="plus icon"></i> Add a new project</li>
  </ul>
  <ul>
    <li><i class="reorder icon"></i> Project 1</li>
    <li><i class="reorder icon"></i> Project 2</li>
    <li><i class="reorder icon"></i> Project 3</li>
    <li><i class="reorder icon"></i> Project 4</li>
  </ul>
</aside>
