/* symbols and text in top menu */
<div class="head">
  <div  class="head_h1"><h1>Projects / Projects 1</h1></div>
  <ul>
    <li class="tooltip" title="Notifications" data-position="left center"><i class="bell outline icon"></i></li>
    <li>Tom Schalbar <i class="angle down icon"></i></li>
    <li id="toogle_chat"><i class="chat outline icon"></i></li>
    <li><i class="resize full icon"></i></li>
  </ul>
</div>

<div class="privatchat">
  <ul>
    <li><span class="ui green label">VS</span> Victor Stabrawa</li>
    <li><span class="ui green label">CM</span> Christoph Müllner</li>
    <li><span class="ui red label">DW</span> David Wolf</li>
  </ul>
</div>
