#wrapper {
  position: relative;
  display: table;
}
/* Sidebar */
#left-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  width: 40px;
  height: 100%;
  background-color: #5677fC;
  color: #D0D9FF;
}
#top-bar {
  position: fixed;
  padding-left: 40px;
  width: 100%;
  height: 50px;
}
#main-content {
  position: absolute;
  padding-left: 40px;
  top: 50px;
  right: 0;
  width: 100%;
}
#left-bar .menu-item {
  text-align: center;
  margin-top: 5px;
  padding: 0.5em 0;
  list-style-type: none;
}
#left-bar div:hover {
  background: #738ffe;
  color: #fff;
}
#left-bar div a {
  color: #D0D9FF;
}
