/*
*
* Projecthub - ITP 5
*
*/
/*******************************
          Standard
*******************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic);

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

hr {
  border: 0;
  height: 1px;
  background-color: #9e9e9e;
  margin-bottom: 1.0em;
}

body {
  background-color: #f2f2f2;
  color: #424242;
  min-width: 1024px;
  height: 100%;
}

/*******************************
          Buttons
*******************************/
a.btnBlue {
  padding: 5px 10px;
  background-color: #5677fC;
  border: 1px solid #5677fC;
  border-radius: 2px;
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
}

a.btnBlue:hover {
  background-color: #6785fc;
}

/*******************************
          Input
*******************************/
input.standard {
  padding: 5px 10px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  font-size: 12px;
}

input.standard:focus {
  outline: none;
}

input.white {
  margin: 0px 10px;
  border: 1px solid #ffffff;
  font-size: 16px;
  width: 300px;
}

input.white:focus {
  outline: none;
}
/*******************************
          Sidebar
*******************************/
aside.sidenav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 2.75em;
  height: 100%;
  background-color: #5677fC;
  color: #D0D9FF;
  z-index: 9999;
}

aside.sidenav a {
  text-decoration: none;
  color: #D0D9FF;
}

aside.sidenav section {
  font-size: 1.25em;
  margin-top: 5px;
  padding: 0.4em;
}

aside.sidenav section:hover {
  background: #738ffe;
  color: #fff;
}

.logo {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  position: fixed;
  left: -43px;
  bottom: 70px;
  font-size: 1.2em;
  color: #FFFFFF;
  z-index: 9999;
}

.logo b {
  font-weight: 400;
}

/*******************************
          Header
*******************************/
header.head {
  position: absolute;
  top: 0;
  height: 3.0em;
  width: 100%;
  background-color: #ffffff;
  color: #666666;
  z-index: 500;
}

header.head ul {
  padding-top: 0.75em;
  text-align: right;
}
header.head li {
  display: inline;
  list-style: none;
  margin-right: 1.2em;
  font-size: 0.8em;
  cursor: pointer;
}

header.head li.last {
  margin-right: 2.0em;
}

header.head li i {
  font-size: 1.5em;
}

div.head_h1 {
  position: fixed;
  left: 4.75em;
  z-index: 800;
  color: #666666;
}

div.head_h1 h1 {
  padding-top: 0.5em;
  font-size: 1.1em;
}

/*******************************
          Subhead
*******************************/
div.subhead {
  position: fixed;
  top: 3.0em;
  left: 2.75em;
  width: 100%;
  height: 2.0em;
  background-color: #f9f9f9;
}

div.subhead ul {
  display: block;
  padding-left: 2.0em;
  padding-top: 0.2em;
  list-style: none;
}

div.subhead li {
  display: inline;
  margin-right: 1.5em;
  font-size: 0.9em;
}

div.subhead li a {
  text-decoration: none;
  color: #666666;
  font-weight: 400;
}

div.subhead li a:hover {
  color: #5677fC;
}

/*******************************
          View
*******************************/
main.view {
  position: fixed;
  width: 100%;
  top: 2.75em;
  left: 2.75em;
}

/*******************************
           Templates
*******************************/
div.container {
  position: absolute;
  top: 1.2em;
  left: 1.5em;
  width: calc(100% - 5.75em);
  min-width: 640px;
}

div.container.height {
  top: 3.0em;
}

div.containerContent {
  padding: 0px 5px;
  margin-bottom: 8px;
}

div.wrapper {
  position: relative;
  top: 5px;
  border-radius: 2px;
  background-color: #fff;
  margin-bottom: 20px;

}

div.wrapper_inner {
  padding: 10px 20px;
}

/*******************************
           Table
*******************************/
table.list {
  width: 100%;
  border-collapse: collapse;
}

table.list td {
  border-bottom: 1px solid #eeeeee;
  padding: 14px 20px;
}

table.list td.btn {
  text-align: right;
  width: 200px;
}

/*******************************
           Text
*******************************/
span.textRight {
  float: right;
}

/*******************************
          Chat Window
*******************************/
div.privatchat {
  display: none;
  position: absolute;
  top:0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: rgba(2, 2, 2, 0.4);
  z-index: 100;
}

div.privatchat ul {
  padding-top: 4.0em;
}

div.privatchat li {
  margin-bottom: 1.0em;
  padding-left: 1.0em;
  list-style: none;
  color: #fafafa;
}

/*******************************
          OrderBy
*******************************/
a.orderby {
  cursor: pointer;
}
