<h1>Forgot password?</h1>
<hr />
<p>
    Please enter your email address, so we can send you an email
    to reset your password.
</p>
<form method="post" action="" name="frmForgotPassword" ng-submit="forgotPassword(frmForgotPassword.$valid)" novalidate>
    <div class="inputmsg">
        <input id="email" name="email" type="email" placeholder="Email Address" ng-model="user.email" required>
        <br />
        <span ng-show="frmForgotPassword.email.$invalid && frmForgotPassword.email.$dirty"><i class="info icon"></i> Enter a valid email.</span>
        <span ng-show="frmForgotPassword.email.$error.required && frmForgotPassword.email.$dirty"><i class="info icon"></i> Email is required.</span>
    </div>
    <button type="submit" ng-disabled="frmForgotPassword.$invalid">RESET PASSWORD</button>
</form>
