<h1>Reset password!</h1>
<hr />
<p>
  Please enter your new password!
</p>
<form method="post" action="" name="frmResetPassword" ng-submit="resetPassword(frmResetPassword.$valid)" novalidate>
  <div class="inputmsg">
    <input id="password" name="password" type="password" placeholder="Password" ng-model="user.password" ng-minlength="5" required>
    <br />
    <span ng-show="frmResetPassword.password.$error.minlength"><i class="info icon"></i> Password is too short.</span>
    <span ng-show="frmResetPassword.password.$error.required && frmResetPassword.password.$dirty""><i class="info icon"></i> Password is required.</span>
  </div>
  <div class="inputmsg">
    <input id="password2" name="password2" type="password" placeholder="Password" ng-model="user.password2" ng-minlength="5" required>
    <br />
    <span ng-show="frmResetPassword.password2.$error.minlength"><i class="info icon"></i> Password is too short.</span>
    <span ng-show="frmResetPassword.password2.$error.required && frmResetPassword.password2.$dirty""><i class="info icon"></i> Password is required.</span>
  </div>
  <button type="submit" ng-disabled="frmResetPassword.$invalid">UPDATE PASSWORD</button>
</form>
