<div id="kanban" ng-controller="KanbanCtrl">

  <div id="kanban-menus" class="clearfix">
    <ul class="nav nav-pills pull-left">
      <li role="presentation" class="active"><a href="#">Board</a></li>
      <li role="presentation"><a href="#">Backlog</a></li>
    </ul>
    <div class="pull-right">
      <button type="button" class="btn btn-primary" ng-click="customizeBoard()">Customize</button>
      <button type="button" class="btn btn-default" ng-click="addNewCard()"><span class="glyphicon glyphicon-plus"></span> Add Ticket</button>
    </div>
  </div>

  <!-- Kanbanboard -->
  <div ng-model="kanbanBoard" id="board">
    <div id="columns" class="row">
      <div class="{{getColumnClass()}}"
           ng-repeat="column in kanbanBoard.columns"
           data-columnindex="{{$index}}" id="column{{$index}}">
        <div class="column">
          <div class="row-fluid columnHeader">
            <span>{{column.name}} ({{column.cards.length}} / {{column.limit}})</span>
          </div>
          <ul class="cards card-list" as-sortable="kanbanSortOptions" ng-model="column.cards">
            <li class="card" ng-repeat="card in column.cards" as-sortable-item ng-include="'/templates/project/kanban/card.html'">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>


