<!-- Popup-->
<div class="popup">
    <div class="popupWrapper">
        <div class="close" onclick="popupClose()">x</div>
        <div class="popupContent" ui-view>
        </div>
    </div>
</div>

<header class="navbar">
    <div class="content">
        <h1><i class="bolt icon"></i><b>Project</b>Hub</h1>
        <ul>
            <li><a href="#/signin" onclick="popup()"><i class="user icon"></i>Sign in</a></li>
            <li><a href="#/menu" onclick="popup()"><i class="reorder icon"></i>Menu</a></li>
        </ul>
    </div>
</header>

<div class="jumbo">
</div>
<div class="jumboH1">
    <h1>Kanban Software</h1>
    <h2>That scales your business!</h2>
    <a href="#/signup" onclick="popup()" class="btn">Sign up for <b>Project</b>Hub</a>
</div>

<div class="wrapper">
    <h1>Lots of powerful <b>features</b></h1>
    <table>
        <tr>
            <td>
                <i class="unhide icon"></i>Visualize your work
                <hr />
                <p>
                    The Kanban board gives you an excellent overview of your current work situation.
                    Visualizing work in a team environment simplifies communication and lead to improved effectiveness.
                </p>
            </td>
            <td>
                <i class="tasks icon"></i>Limit your work in progress
                <hr />
                <p>
                    By focusing your efforts on working on fewer items at the same time, you will get more done.
                    Lots more actually. And you will feel less stressed.
                </p>
            </td>
            <td>
                <i class="users icon"></i>Collaborate in real-time
                <hr />
                <p>
                    Any changes you make on the board are immediately available on all the team members' displays.
                    You will always know what your team is working on at any moment.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <i class="time icon"></i>One-click time tracking
                <hr />
                <p>
                    Time tracking with PorjectHub is easy and intuitive. Type in what you’re working on. Click.
                    Click again to stop tracking.
                </p>
            </td>
            <td>
                <i class="rocket icon"></i>Fast & intuitive UI
                <hr />
                <p>
                    Get things done, quickly. It takes less than 2 minutes to learn how to use ProjectHub.
                    The user interface is built for speed, without frustrating loading times.
                </p>
            </td>
            <td>
                <i class="pin icon"></i>Planning Poker
                <hr />
                <p>
                    Planning Poker is a good way to come to a consensus without spending too much time on any one topic.
                    It allows, or forces, people to voice their opinions, thoughts and concerns.
                </p>
            </td>
        </tr>
    </table>
    Copyright © 2014 ProjectHub
</div>